footer {
    .footer-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .text-and-social {
            .logo {
                color: #cccccc;
                font-size: 30px;
                font-weight: bold;
            }
            .section-text {
                color: $textColor;
            }
            .followers-text {
                font-size: 15px;
                color: $headerColor;
                line-height: 1.2;
                text-align: left;
                border-bottom: 1px solid $midSection4-5Color;
                padding-bottom: 1em;
                margin-bottom: 1em;
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .follow-and-icons {
                margin-bottom: 1em;
            }
            form {
                 :first-child {
                    border: 1px solid $midSection4-5Color;
                    height: 3em;
                    color: $midSection4-5Color;
                    margin-bottom: 2em;
                }
                 ::placeholder {
                    color: $midSection4-5Color;
                }
            }
            .submit-btn {
                margin-left: -0.3em;
                height: 2.8em;
                font-size: 15px;
                font-weight: bold;
                padding: 0 1.3em;
                border: none;
                color: white;
                background: $aqua;
            }
        }
        .footer-inner-header {
            font-size: 14px;
            color: $headerColor;
            font-weight: bold;
            margin-bottom: 2em;
        }
        .blogs {
            .blogs-list {
                list-style-type: none;
                li {
                    margin-top: 2em;
                    .small-image {
                        background: url('../images/footer/blogs-photos.png') no-repeat;
                        width: 120px;
                        height: 80px;
                    }
                    .small-one {
                        background-position: 0 0;
                    }
                    .small-two {
                        background-position: 0 -110px;
                    }
                    .small-three {
                        background-position: 0 -220px;
                    }
                    .blog-desc {
                        padding: 0;
                        padding-left: 1em;
                        text-align: left;
                        color: $headerColor;
                        line-height: 1.5;
                        font-size: 12px;
                        font-weight: bold;
                        margin-bottom: 2em;
                        .blog-date {
                            font-size: 13px;
                            font-family: "Roboto";
                            font-style: italic;
                            color: $textColor;
                            margin-top: 0.8em;
                        }
                    }
                }
            }
        }
        .instagram-images {
            .instagram-images-list {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                justify-content: center;
                .instagram-im {
                    background: url('../images/footer/instagram-photos.png') no-repeat;
                    width: 89px;
                    height: 90px;
                }
                .instagram-one {
                    background-position: 0 0;
                }
                .instagram-two {
                    background-position: -90px 0;
                }
                .instagram-three {
                    background-position: -180px 0;
                }
                .instagram-four {
                    background-position: 0 -90px;
                }
                .instagram-five {
                    background-position: -90px -90px;
                }
                .instagram-six {
                    background-position: -180px -90px;
                }
                .instagram-seven {
                    background-position: 0 -180px;
                }
                .instagram-eight {
                    background-position: -90px -180px;
                }
                .instagram-nine {
                    background-position: -180px -180px;
                }
            }
        }
        .col-5 {
            width: 100%;
            @media (min-width: 900px) {
                width: 41.66667%;
            }
        }
        .col-4 {
            width: 100%;
            @media (min-width: 900px) {
                width: 33.33333%;
            }
        }
        .col-3 {
            width: 100%;
            @media (min-width: 900px) {
                width: 25%;
            }
        }
    }
}
