.main-section {
    background: url('../images/main-section/main-bg.png') no-repeat;
    height: 100vh;
    @media(min-width: 850px) {
        height: auto;
    }
    .title {
        margin-top: 4.9em;
        font-family: 'Kaushan Script', cursive;
        font-size: 40px;
        text-align: center;
        color: $white;
        @media(min-width: 450px) {
            font-size: 50px;
        }
        @media(min-width: 900px) {
            margin-top: 2.9em;
            font-size: 72px;
        }
    }
    .main-header {
        font-size: 50px;
        margin-top: 0.17em;
        font-weight: bold;
        text-align: center;
        color: $white;
        line-height: 0.9;
        letter-spacing: -2px;
        @media(min-width: 350px) {
            font-size: 60px;
        }
        @media(min-width: 450px) {
            font-size: 80px;
        }
        @media(min-width: 900px) {
            font-size: 150px;
        }
        p {
            font-size: 50px;
            @media(min-width: 350px) {
                font-size: 60px;
            }
            @media(min-width: 450px) {
                font-size: 80px;
            }
            @media(min-width: 900px) {
                font-size: 150px;
            }
        }
    }
    .main-btn {
        display: block;
        margin: 3.5em auto;
        padding: 0.6em 2em;
        border: 3px solid $white;
        background: none;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: $white;
    }
    .main-btn:hover {
        cursor: pointer;
        transition: 0.5s;
        transform: scale(1.3, 1.3);
        color: $downGradient;
        background: $white;
    }
    .slide-bars {
        display: none;
        @media(min-width: 1200px) {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 10em 0 0.5em -2em;
        }
        li {
            margin-right: 1em;
            @media(min-width: 1300px) {
                margin-right: 2em;
            }
            .bar {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                .color {
                    background: $upGradient;
                    transition: 0.5s;
                }
                li {
                    width: 70px;
                    background: $white;
                    height: 3px;
                    margin-right: 0;
                }
            }
            p {
                margin-top: 0.3em;
                font-size: 24px;
                font-weight: bold;
                text-align: left;
                color: $white;
                span {
                    font-weight: normal;
                }
            }
        }
        li:hover {
            cursor: pointer;
        }
    }
}

.line {
    margin: auto;
    margin-top: 4.2em;
    width: 58px;
    height: 3px;
    background: $white;
    text-align: center;
}
