.section-five {
    .team-images {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 2em;
        @media(min-width: 1265px) {
            flex-direction: row;
            margin-top: 7em;
        }
        li {
            @media(min-width: 1100px) {
                margin-right: 2.1em;
            }
            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                .person-image {
                    height: 475px;
                    @media(min-width: 450px) {
                        margin: 0 calc(50% - 190px);
                    }
                    @media(min-width: 1265px) {
                        margin: 0;
                        width: 380px;
                    }
                }
                .im-one {
                    background: url('../images/section-5/first-photo.png') no-repeat;
                    background-size: cover;
                }
                .im-two {
                    background: url('../images/section-5/second-photo.png') no-repeat;
                    background-size: cover;
                }
                .im-three {
                    background: url('../images/section-5/third-photo.png') no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.person-name {
    color: $headerColor;
    text-align: center;
    font-weight: bold;
    margin-top: 1.5em;
}

.person-prof {
    color: $textColor;
    text-align: center;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 0.8em;
    letter-spacing: -0.4px;
    margin-bottom: 2em;
    @media(min-width: 1100px) {
        margin-bottom: 7.7em;
    }
}
