// main colors
$upGradient: #f38181;
$downGradient: #fce38a;
$lightGreen: #eaffd0;
$aqua: #95e1d3;

$white: #ffffff;
$headerColor: rgb(51, 51, 51);
$textColor: rgb(153, 153, 153);


// section backgrounds

$midSection1-2Color: #95e1d3;